.textarea_container textarea {
  min-width: 250px;
  min-height: 150px;
  width: 99%;
}

/* make the navigation tabs look like lit */

ul.tabs.primary {
	border-radius: 5px;
	width: 100%;
	background-color: #003f87;
	line-height: 2.5em;
	border-width: 0px;
}

ul.tabs.primary li a {
	color: white;
	background: transparent;
	text-shadow: none;
	border-radius: 0;
	border: 0px;
    height: inherit;
	line-height: inherit;
	padding-top: 0px;
    padding-right: 19px;
    padding-bottom: 0px;
    padding-left: 19px;
}

ul.tabs.primary li {
	background-color: #003f87;
	margin: 0px;
	border: 0px;
}

ul.tabs.primary > li:not(:last-child) > a {
	border-right: 1px solid #fff;
}

ul.tabs.primary li.is-active {
	background-color: #bad80a;
	border-radius: 0px;
}

ul.tabs.primary li.is-active a, ul.tabs.primary li.active a {
	color: #003f87;
}
	
ul.primary li:hover a {
	color: #003f87;
	background: white;
}

ul.secondary a:link, ul.secondary a:visited {
	padding: 5px;
}

.onesearch-header {
	background: #33659f;	
	color: #FFF;
	background-image: linear-gradient(to right, #33659f 50%, #003f87 93%);
	box-shadow:  3px 5px 11px #ddd;
	border-radius: 8px;
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
	margin-bottom: 10px;
	vertical-align: middle;
	width: 100%;
}

#onesearchLogo {
	border: 0px;
	padding: 5px;
	width: 125px;
}

#onesearch_search {
    width: 100%;
    margin-top: 11px;
    display: inline-block;
 }

 #onesearch_search_button {
    display: inline-block;
    background: transparent;
    color: white;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 3px;
}

 #wordCloud {
  height: 200px;
  border: 1px dotted #efefef;
 }


#gradient {
	  width: 100%;
	  background: #668cb7;
	  color: #fff;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);  
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #668CB7), color-stop(50, #99B2CF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);

	/* W3C Markup */ 
	background-image: linear-gradient(to top left, #668CB7 0%, #99B2CF 50%);
}

.checkbox_container {
	padding: 10px;
	margin: 10px;
}

.word_checkbox {
	margin: 3px;
}

#rws {
	font-size: 300%;
   	opacity: 0.1;
	position: absolute;
	top: 0;
	z-index: 4;
}

.orange_dot {	
	transition: opacity 500 ease-in-out;
    	background: #ffc61e;
 }


#rws_dot {
    background: #ffc61e;
    width: 2px;
    height: 2px;
    position: relative;
    top: 7px;
    z-index: 0;
    opacity: 1;
    left: 189px;
    top: 51px;
    display: none;
}


#left {
	padding-right: 5px;
}

#right {
	padding-left: 5px;
}

.grid {
	display: flex;
    clear: both;
}

div.grid > div.grid-cell:not(:first-child) {
	margin-left: 4em;;
}	

.grid > .grid-cell {
	padding: 5px;
	margin: 5px;
}

.grid > div > div {
	border: 0px dotted green;
	padding: 2px;
	clear: left;
	/* margin-top: 1em; */
}

.grid-cell {
	flex: 1;
}

.grid-cell2 {
	flex: 2;
}

.grid-cell3 {
	flex: 3;
}

.grid-cell4 {
	flex: 4;
}


.right {
	float:  right;
}



.tool_tip {
	font-size: 90%;
	display: table-cell;	/* only as wide as necessary so that it does not interfere with the submit button */
	padding: 7px !important;
}

.tool_tip:hover {
	box-shadow: inset 1px 1px 5px #555;
	border-radius: 8px;
}

.tool_tip:before {
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f0eb";	
}

.tool_tip:hover:before {
   	/*background: rgb(255, 255, 153); */
	background: lightyellow;
	border-radius: 50%;
	height: 1em;
	width: 1em;
}

.tooltip_hover {
   	background: #ffc61e;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
}

.tooltip_popup {
	display: none;
	opacity: 1;
	color: #111;
	padding: 2em;
	background: white;
	position: absolute;
	width: 300px;
	height: auto;
	z-index: 999;
	box-shadow: 1px 3px 3px 3px #bbb;
	border-radius: 5px;
}

.close_tooltip {
    float: right;
    cursor: pointer;
    cursor: hand;
}


.showdragbox {
	color: #999;
	padding-left: 1em;
}

.dragbox {
	display: none;
	background: white;	
	opacity: 1;
	text-align: left;
	width: 350px;
	height: 300px !important;
	z-index: 999;
	overflow: auto;
	box-shadow: 1px 3px 3px 3px #bbb;
	border-radius: 5px;
	position: absolute;
	top: 30px;
	left: 50px;
}

.dragbox div.handle {
	background-color: #33659f;
	color:#FFF;
	border-radius: 5px 5px 0px 0px;
	cursor: move;
	padding: 5px !important;
	padding-left: 15px !important;
	letter-spacing: 10px !important;

	background-image: -ms-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #668CB7), color-stop(50, #99B2CF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom right, #668CB7 0%, #99B2CF 50%);
	/* W3C Markup */ 
	background-image: linear-gradient(to top left, #668CB7 0%, #99B2CF 50%);
}

.dragbox div {
	overflow: auto;
	color: #111;
	font-size: 90%;
	padding: 1em !important;
	margin-top: 0px !important;
}

.close_dragbox {
    float: right;
    cursor: pointer;
    padding-top: 3px;
/*    opacity: 0.7;*/
}

#example_assignments {
	opacity: 0.5;
	padding-top: 2em;
}

.example_assignment {
	cursor: pointer;
}

.highlight {
	background: lightgoldenrodyellow;
	background: #ffc61e;
  	transition: opacity 500 ease-in-out;
}

input[type=checkbox].checkbox {
    position: absolute;
    left: -1000px;
}

input[type=checkbox].checkbox + label:before {
    content: "\f096";
    font-family: FontAwesome;
    display: inline-block;
    padding: 0 0 0 0px;
    padding-left: 5px;
}

input[type=checkbox].checkbox:checked + label:before {
    content: "\f046";
    font-family: FontAwesome;
    display: inline-block;
    padding: 0 0 0 0px;
    color: #338965;
    padding-left: 5px;
    /*border: 1px black dotted;*/
}



/*http://blogs.sitepointstatic.com/examples/tech/css3-paper-curl/index.html*/

.box {
	clear: left;
	position: relative;
	padding: 10px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box:before, .box:after {
	position: absolute;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.box:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
} 



/* from bootstrap */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  word-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

#trash {
	float: right;
	color: #ccc;
	padding-right: 15px;
}

#trash i {
	font-size: 200%;
}

#extracted-entities {
	list-style: none;
}

#activeWordsX {
	min-height: 100px;
	width: 100%;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffffff), color-stop(47, #F6F6F6), color-stop(100, #ededed));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #ffffff 0%, #F6F6F6 47%, #ededed 100%);

	  box-shadow: inset 1px 1px 15px rgba(0,0,0,0.25);

	border-radius: 8px;
}


#inactiveWords {
	min-height: 100px;
}



/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.word {
	font-size: 90%;
	float: left;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);  
	padding: 3px;
	margin: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 8px;
	text-align: center;
	cursor: move;
	border: 1px solid #AAA;
	background: url('vertical.png') left no-repeat, -o-linear-gradient(top, #EFEFEF 50%, #D9D9D9 100%);
	background: url('vertical.png') left no-repeat, -ms-linear-gradient(top, #EFEFEF 50%, #D9D9D9 100%);
	background: url('vertical.png') left no-repeat, -moz-linear-gradient(top, #EFEFEF 50%, #D9D9D9 100%);
	background: url('vertical.png') left no-repeat, -webkit-linear-gradient(top, #EFEFEF 50%, #D9D9D9 100%);
	background: url('vertical.png') left no-repeat, linear-gradient(top, #EFEFEF 50%, #D9D9D9 100%);	    
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), inset 0 1px 0 #FFF;
	text-shadow: 0 1px #FFF;
}

.word:hover {
  	opacity: 0.5;
}

.inactive-word {
	font-size: 90%;
	opacity: 0.8;
}

.label {
	padding: 2px;
	margin: 2px;
	border-radius: 2px;
}

.word:before {
	background: url('vertical.png') left no-repeat;
	content: " ";
/*	    font-family: FontAwesome;
	    font-size: 20px;
	    content: "\f0eb";		*/
}

.word.equivalent, .label.equivalent {
	background: url('vertical.png') left no-repeat, #7d2a0c;
	color: #FFF;
}

.word.verb-form, .label.verb-form {
	background: url('vertical.png') left no-repeat,  #b3b192;
}

.word.hypernym, .label.hypernym {
	background:  url('vertical.png') left no-repeat, #617373;
	color: #FFF;
}

.word.cross-reference, .label.cross-reference {
	background:  url('vertical.png') left no-repeat, #d1c5ab;
}

.word.variant, .label.variant {
	background:  url('vertical.png') left no-repeat, #8b8da0;
	color: #FFF;
}

.word.synonym, .label.synonym {
	background:  url('vertical.png') left no-repeat, #eeebe7;
}

.word.same-context, .label.same-context {
	background:  url('vertical.png') left no-repeat, #c4a8a5;
}


#topic-search-results-container {
	max-height: 400px;
	overflow: auto;
	display: none;
}

#topics {
	list-style: none;
	padding: 0px;
}

#search-history * {
    padding: 0px !important;
    margin: 0px !important;
}

.addToEShelf {
	display: none;
}

#search_results_header {
	display: none;
}

#onesearch-results ul, ul#results, ul.results {
    list-style-type: none;  
    margin-top: -5px;
    margin-left: -38px;
    font-size: 90%;
}

#onesearch-results ul > li, ul#results > li, ul.results > li {
	padding: 7px;
	margin-top: 5px;
	border-radius: 8px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 7px rgba(0, 0, 0, 0.1)
}

#onesearch-results ul > li > button, ul#results > li > button, ul.results > li > button {
  background: none;
  border: 0px;
}  

.resultCountContainer {
	position: relative;
	width: 100%;
}

.resultCount {
	opacity: 0.1;
   	text-shadow: 0px 1px 1px #7290AC;
   	font-size: 150%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.inactive {
	background: none;
	opacity: 0.8;
}

.active-item {
	opacity: 1.0;
	/*border-radius: 8px 0px 0px 8px !important;*/
	border-radius: 8px;
	color: #33659f;
	box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.2), inset 2px -1px 4px rgba(0, 0, 0, 0.1) !important;
	position: relative;
}

.xactive-item:before {
	display: none;
    content: "";
    position: absolute;
    background: #FFF;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 15px solid rgba(255,198,30, 0.25);
    border-right: 15px solid rgba(255,198,30, 0.25);
    border-radius: 0px 0px 54px 0px;
    -moz-border-radius: 0px 0px 54px 0px;
    -webkit-border-radius: 0px 0px 50px 0px;
    z-index: 0;
    bottom: 0px;
}

.active-item:before {
    border: 15px solid rgba(255,198,30, 1);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    opacity: 1;
}

#result-details {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 90%;
}

#toggled_description {
	display: none;
}

#creator, #created {
	opacity: 0.7;
}

.type:before {
    font-family: FontAwesome;
    display: none;
}

.pbook:before {
    content: "\f02d";
}

.article:before {
  content: "\f0f6";
}

.openOneSearch {
	color: #999;
	opacity: 0.5;
}

.result-row {
	max-height: 60px;
 	text-overflow: ellipsis;
          	overflow: hidden;	
}


div.clearleft {
	clear: left;
}

.searchStringLabel {
	display: inline !important;	
}

fieldset {
	font-size: 90%;
	border-radius: 8px;
	border-color: rgba(244,244,244, 0.2);
}

fieldset > * {
    vertical-align: middle;
}

#searchHistoryContainer form span {
	max-width: 600px;		
	padding: 0px;
	margin: 0px;
}

#searchHistoryHeader, #numResultsHeader {
	font-size: 90%;
}

.storedQuery {
    cursor: pointer;
    text-decoration: none;
    font-size: 90%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
}

.searchHistoryQuery {
	width: 98%;
	font-size: 90%;
}

.numResults, #numResultsHeader {
	float: right;
	white-space: nowrap;
}

.removeSearchHistoryItem {
	cursor: pointer;
	opacity: 0.5;
	color: #999;
}

#useSelectedQueries {
	margin-top: 1em;
	font-size: 90%;
}

#footer {
	margin-top: 5px;
	padding: 5px;
	position: relative;
	bottom: 0;
	text-align: center;
	font-size: 90%;
	width: 95%;
	opacity:  0.5;
	margin: 1em;
	text-decoration: none;
}


/* thanks to http://jamesw.me/labs/css3_loading_spinner.html */

.spin-container {
	position: relative;
	top: -3px;
}

.spin {
	color: #FFF;
	position: absolute;
	top: 10px;	
	left: 0px;
	width: 8px;
	height: 8px;
	
	border-width: 2px;
	border-style: solid;
	border-color: #FFF #DDD #BBB #999;
	border-radius: 40px;
	
	-webkit-animation: spin 1s linear infinite; 
	-moz-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin  
{  
    from { -webkit-transform: rotate(0deg); }  
	50%  { -webkit-transform: rotate(180deg); }  
    to   { -webkit-transform: rotate(360deg); }  
}
@-moz-keyframes spin  
{  
    from { -moz-transform: rotate(0deg); }  
	50%  { -moz-transform: rotate(180deg); }  
    to   { -moz-transform: rotate(360deg); }  
}

@-webkit-keyframes bounce  
{  
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(0deg); opacity: 1; }
	to   { -webkit-transform: rotate(0deg); opacity: 0.4; }

}
@-moz-keyframes bounce  
{  
	from { -moz-transform: rotate(0deg); opacity: 0.6; }
	50%  { -moz-transform: rotate(0deg); opacity: 1; }
	to   { -moz-transform: rotate(0deg); opacity: 0.6; }
}

#result-header {
	font-size: 90%;
}

.clickable-div {
     cursor: pointer;
     /* workaround for ios - http://stackoverflow.com/questions/3705937/document-click-not-working-correctly-on-iphone-jquery */
}

    /* questions */
 .topic_row {
 	padding: 5px;
 }

.question_container {
	white-space: nowrap;
}

.question_container:hover {
	background: #EFEFEF;
}

.question {
	width: 99%;
	font-size: 85%;
}

.question.active {
	opacity: 1.0;
}

.question.inactive {
	opacity: 0.3;
}

.topic-choose-question {
	width: 70%;
	font-size: 85%;	
}

 .bold {
 	font-size: 150%;
 }

.blur {
	-webkit-filter: blur(1px); /* Safari */
	filter: blur(1px);	
	transition: all 1000 ease-in-out;
}


.shepherd-content {
	box-shadow: 1px 6px 18px rgba(0, 0, 0, 0.4), inset 0px -2px 12px rgba(0, 0, 0, 0.5) !important;
}

.shepherd-text {
	text-align: left;
}

.shepherd-element.shepherd-theme-arrows.shepherd-transparent-text .shepherd-text {
  color: #333; 
}

.shepherd-element.shepherd-theme-arrows .shepherd-content {
  width: 400px;
  max-width: 100%; 
}

.shepherd-element.shepherd-theme-arrows .shepherd-content a {
    color: inherit; 
}

.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
    background: #55a892; 
}


.add_interest {
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);  
	border-radius: 8px;
	box-shadow: inset 0 0 3px #999;
	border: 1px solid #AAA;
	background:  -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	background:  -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	background:  -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	background:  -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	background:  linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);	    
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;  
	text-shadow: 0 1px #FFF;
	padding: 5px;
}

input.interest {
	margin: 3px;
	border-radius: 9px;
}

#word_sources {
	float: right;
}

#word_types {
	display:  none;
}


#related_words {
	clear:  left;
}

#related_words_fieldset, #wordnik_words_container, #onesearch_words_container {
	display: none;
}

#summarize_assignment {
	display: none;
}

.query_feedback {
	font-size: 90%;
	min-width: 20px;
} 

.detailed_query_feedback {
	display: none;
	clear: both;
	font-size: 90%;
	max-width: 75%;
	margin-left: 1em;
	padding: 1em;
	color: #444;
	white-space: pre-wrap;
}

input[type=radio].radio {
    position: absolute;
    left: -1000px;
}

input[type=radio].radio + label:before {
    content: "\f10c";
    font-family: FontAwesome;
    display: inline-block;
    /*color: #444;*/
    padding: 5px;
}

input[type=radio].radio:checked + label:before {
    content: "\f111";
    font-family: FontAwesome;
    display: inline-block;
    color: #338965;
    padding: 5px;
    /*border: 1px black dotted;*/
}


.confidence_range {
	display: none;
	color: #999;
	float: right;
	font-size: 90%;
}

.confidence {
	max-width: 100px;
}

.just_right {
	color: green;
}

.too_many {
/*	background: rgba(255,0,0,0.5);
	border-radius: 25px;*/
	color: red;
}

.not_enough {
/*	background: rgba(255,255,0,0.5);
	border-radius: 25px;*/
	color: blue;
}

.storage_container {
	display:  none;
}


.inactive_container {
	opacity: 0.5;
}

.active_container {
	opacity: 1;
}

.why {
	float: right;
}

.strategy_container {
/*	display: table-cell;	 only as wide as necessary so that it does not interfere with the submit button 
*/	padding: 15px !important;
	box-shadow: inset 3px 5px 11px #ddd;
	border-radius: 8px;
	margin-bottom: 1em;
}

.strategy {
	padding-bottom: 1em;
}

.strategy:before {
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f0a4";	
    /* http://fontawesome.io/icon/graduation-cap/ */
    /* http://fontawesome.io/icon/hand-o-right/ */
}

/* .strategy:after {
	content: "strategy";
	opacity: 0.5;
	float: right;
	color: #333;
	font-size: 200%;
	margin-top: -0.5em;
} */

.rationale {
	padding-top: 1em;
	border-top: 1px dotted #bbb;
	opacity: 1;
	color: #333;
}

/* .rationale:after {
	content: "rationale";
	opacity: 0.5;
	float: right;
	color: #333;
	font-size: 200%;
} */

.rationale:before {
    content: "\f128";
    font-size: 16px;
    font-family: FontAwesome;
    display: inline-block;
    padding: 0 0 0 0px;
    color: #444;
    padding-left: 5px;

}

.checkbox_container label, .facet label, label.checkboxWord {
	white-space: nowrap;
	display: inline !important;
	font-weight: normal;
}

.addKeyword {
	cursor: hand;
	cursor: pointer;
	color: #999;
	float: right;
	padding-top: 8px;
 }

 .search-button {
 	background: none;
 	border: 0;
 	display: none;
 	cursor: pointer;
 	cursor: hand;
 }

  .search-button img {
 	width: 25px;
}

.hidden {
	display: none;
}




.button-small {
	margin-left: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    padding:  5px;
    font-size: 90%;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width: auto;
}

.button-small:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.action {
	color: #FFF !important;
	padding: 10px !important;

	/* http://www.cssportal.com/css-gradient-generator/ */
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #096B33 0%, #CCE1D9 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #096B33 0%, #CCE1D9 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #096B33 0%, #CCE1D9 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #096B33), color-stop(100, #CCE1D9));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #096B33 0%, #CCE1D9 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to top, #096B33 0%, #CCE1D9 100%);
}

.action:hover {
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom right, #096B33 0%, #CCE1D9 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom right, #096B33 0%, #CCE1D9 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom right, #096B33 0%, #CCE1D9 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #096B33), color-stop(100, #CCE1D9));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom right, #096B33 0%, #CCE1D9 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to top left, #096B33 0%, #CCE1D9 100%);
}

a.fa {
	opacity: .5;
}


/* select whole words */

#assignment {
	/* user-select: none; */
	white-space: pre-line;	
  }
  
  ::selection {
	background-color:orange;
	color: black;
  }

  .highlighted {
	background-color: yellow;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}

	a.highlighted {
		cursor: default;
	}
	
	a.highlighted:hover {
		text-decoration: none;
	}
		

#libchat_a1b7f743a27bb400d8f4907e0f08ddb5 {
	display: none;		/* hide the main library.wwu.edu chat widget */
}

/* hide the following  on the final-summary page */
#final-summary-form .form-item-assignment-highlighted {
    display: none;
}
#final-summary-form .form-item-meaningful {
    display: none;
}
#final-summary-form  .form-item-narrow {
    display: none;
}
#final-summary-form  .form-item-specific {
    display: none;
}



/* horizontal menu */
/* div#block-menu-menu-research-writing-workshop-g 
{ background-color: #003f87;
    width: 100%;
border-radius: 5px;
}

div#block-menu-menu-research-writing-workshop-g 
 ul.menu li * {
    float: left;
    margin-left: 0;
    color: white;
}

div#block-menu-menu-research-writing-workshop-g 
.menu > li > a:focus, div#block-menu-menu-research-writing-workshop-g .menu > li > a:hover {
    color: #2954D1;
}

div#block-menu-menu-research-writing-workshop-g 
.menu> li > a:focus, div#block-menu-menu-research-writing-workshop-g 
.menu > li > a:hover {
    background-color: #fff;
    color: #e54e4b;
    text-decoration: none;
    text-shadow: none;
    outline: none;
} */

form {
	clear: both;
}

#inquiry_questions div {
	margin-bottom: 3em;	
	width: 50%;
}

#inquiry_questions > div:not(:first-child):before {
    content: "\f112";
    font-size: 16px;
    font-family: FontAwesome;
    display: inline-block;
    padding: 0 0 0 0px;
    color: #444;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
    margin-left: -30px;
    margin-top: 22px;
    position: absolute;
}


#inquiry_questions > #q0 {
	margin-left: 0;
}

#inquiry_questions > #q1 {
	margin-left: 5em;
}

#inquiry_questions > #q2 {
	margin-left: 10em;
}

#inquiry_questions > #q3 {
	margin-left: 15em;
}

#inquiry_questions > #q4 {
	margin-left: 20em;
}


textarea[readonly] {
	border: 0px !important;
}
	
.form-textarea-wrapper[contains*="textarea:read-only"]  {
	background: pink;
    content: "\f112";
    font-size: 16px;
    font-family: FontAwesome;
}

/* the main navigation menu is too far down without the following tweak */
.not-front .tb-megamenu .nav, .not-front .tb-megamenu .tb-block ul, .not-front .tb-megamenu .tb-block .nav {
	margin-top: -154px;
}

input[readonly], textarea[readonly] {
    border: 1px dotted #efefef;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	color: initial;
	padding: 4px;
}